{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block optiplant-bg-login-image"></div>
                        {% if validlink %}
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-2">Change your password!</h1>
                                        <p class="mb-4">Please enter your new password twice so 
                                            we can verify you typed it in correctly.</p>
                                    </div>
                                    {% if form.errors %}
                                        <div class="text-danger">
                                            {% for key,value in form.errors.items %}
                                                <p>{{ value }}</p>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                    <form class="user" method="post">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <input type="password" class="form-control form-control-user" aria-describedby="passwordHelp"
                                            name="new_password1" autocomplete="new-password" required="" id="id_new_password1" aria-autocomplete="list"
                                            placeholder="New Password...">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control form-control-user" aria-describedby="password2Help"
                                            name="new_password2" autocomplete="new-password" required="" id="id_new_password2"
                                            placeholder="Confirm Password...">
                                        </div> 
                                        <input type="submit" class="btn btn-primary btn-user btn-block" value="Change Password"></input>
                                    </form>
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" href="{% url 'accounts:signup' %}">Create an Account!</a>
                                    </div>
                                    <div class="text-center">
                                        <a class="small" href="{% url 'accounts:login' %}">Already have an account? Login!</a>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 mb-2 text-danger">Link Invalid</h1>
                                        <p class="mb-4">The password reset link was invalid, possibly because it has already been used.  
                                            Please request a new password reset.</p>
                                    </div>
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" href="{% url 'accounts:password_reset' %}">Forgot Password?</a>
                                    </div>
                                    <div class="text-center">
                                        <a class="small" href="{% url 'accounts:signup' %}">Create an Account!</a>
                                    </div>
                                    <div class="text-center">
                                        <a class="small" href="{% url 'accounts:login' %}">Already have an account? Login!</a>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
