{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block optiplant-accounts-side-image"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-2">We have sent you an email!</h1>
                                    <p class="mb-4">We’ve emailed you instructions for setting your password, 
                                        if an account exists with the email you entered. You should receive them shortly.</p>
                                </div>
                                <hr>
                                <div class="text-center">
                                    <p class="small">If you don’t receive an email, please make sure you’ve entered the address 
                                        you registered with, and check your spam folder.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
