{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="AutoML for industries">
        <meta name="author" content="Michael Loukeris">

        <title>Optiplant 2</title>

        <link rel="icon" type="image/png" href="{% static 'img/optiplant.ico' %}">

        <link href="{% static 'css/all.min.css' %}" rel="stylesheet" type="text/css">
        <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">
        <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css">
    </head>

</head>

    <body id="page-top">
        <div id="wrapper">
            {% block sidebar_wrapper %}
                {% include 'parts/_sidebar.html' with active=active_page %}
            {% endblock sidebar_wrapper %}

            <div id="content-wrapper" class="d-flex flex-column">
                <div id="content">
                    {% include 'parts/_navbar.html' with username=request.user %}
                    
                    <div class="container-fluid">
                        {% block content %}
                            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                                <h1 class="h3 mb-0 text-gray-800">{{ page_title }}</h1>
                            </div>
                        {% endblock content %}
                    </div>
                </div>

                <footer class="sticky-footer bg-white">
                    {% include 'parts/_copyright.html' %}
                </footer>
            </div>
        </div>

        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <!-- Bootstrap core JavaScript-->
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

        <!-- Core plugin JavaScript-->
        <script src="{% static 'js/jquery.easing.min.js' %}"></script>

        <!-- Custom scripts for all pages-->
        <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

    </body>

</html>