{% load static %}

<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'home' %}">
        <div class="sidebar-brand-icon rotate-n-15">
            <img style="width: 25px;" src="{% static 'img/optiplant.ico' %}"/>
        </div>
        <div class="sidebar-brand-text mx-3">Optiplant <sup>2</sup></div>
    </a>

    <hr class="sidebar-divider my-0">
    <li class="nav-item {% if active == 'dashboard' %} active {% endif %}"">
        <a class="nav-link" href="{% url 'home' %}">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Dashboard</span></a>
    </li>

    <hr class="sidebar-divider">
    <div class="sidebar-heading">
        Personal
    </div>
    <li class="nav-item {% if active == 'profile' %} active {% endif %}">
        <a class="nav-link" href="{% url 'accounts:profile' %}">
        <i class="fas fa-fw fa-user"></i>
        <span>Profile</span></a>
    </li>

    <hr class="sidebar-divider d-none d-md-block">
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>